/* common reset starts here */

* {
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

/* common reset ends here */

/* common share style */
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: none;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 700px;
}
.title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
main section {
  margin: 130px 0;
}
/* common share style */

/* navbar starts here */
.header {
  background: #fff8f3;
  background-image: url("images/header_bg.png"), url("images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, top left;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 220px;
}
.nav-logo {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
.logo-color {
  color: #fd6e0a;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  color: #474747;
  margin-right: 50px;
  font-size: 20px;
  font-weight: 400;
}

.logo-btn {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}
/* navbar ends here */
/* banner starts here */
.banner-container {
  margin: 30px 30px 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-photo {
  width: 550px;
  display: block;
}
.banner-greeting {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 0;
}
.banner-title {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 0;
}
.banner-descrption {
  color: #757575;
  font-size: 18px;
  font-weight: 400px;
  line-height: 30px;
  margin-top: 20px;
}
.banner-btn {
  width: 200px;
  height: 64px;
}
.banner-btn-2 {
  width: 160px;
  height: 64px;
}

/* banner ends here */
/* main section starts here */
main {
  max-width: 1140px;
  margin: 0 auto;
}

.about-section {
  margin: 130px 0;
  padding: 215px 150px;
  background-color: #fff8f3;
  border-radius: 10px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}
.info-title {
  color: #757575;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.info-description {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
}
.what-i-do-description {
  padding: 30px 130px;
}

/* what i do section starts here */
.skill-container {
  display: flex;
  gap: 25px;
}
.skill {
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-title {
  color: #181818;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.skill-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
/* what i do section ends here */

/* resume section starts here */
.resume-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.resume-container {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
.resume-item-title {
  color: var(--dark-02, #474747);
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
}
.resume-item-institute {
  color: var(--dark-03, #757575);
  font-size: 20px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
}
.resumi-item-description {
  color: var(--dark-03, #757575);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 0;
}
.resume-container hr {
  margin: 30px 30px;
}
.download-cv {
  text-align: center;
  margin-top: 50px;
}
.resume-btn {
  padding: 10px 30px;
}
/* resume section ends here */
/* main section ends here */

/* footer starts here */
footer {
  display: flex;
  padding: 130px 200px;
  margin-top: 130px;
  background: #fff8f3;
  gap: 50px;
}
.footer-colums {
  width: 50%;
}
.footer-form input[type="text"],
input[type="email"],
textarea {
  display: block;
  margin-bottom: 25px;
  border-radius: 5px;
  background: #fff;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  padding: 15px 35px;
  width: 100%;
}
.footer-btn {
  padding: 10px 25px;
}
.social-links a {
  margin-right: 25px;
}
/* footer ends here */

.hide {
  display: none;
}

/* media query */
@media screen and (max-width: 576px) {
  nav,
  ul,
  .skill-container,
  .resume-container,
  .about-info-container,
  .banner-container,
  footer {
    flex-direction: column;
  }

  nav li {
    margin-bottom: 5px;
  }

  .what-i-do-description,
  .about-section,
  footer {
    padding: 10px;
  }
  .header {
    background-image: none;
  }
  .banner-container {
    margin: 20px;
  }
  .banner-photo {
    width: 50%;
    float: right;
  }
  .btn-primary {
    display: block;
    margin-bottom: 5px;
  }
  .logo-btn {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding: 5px 20px;
    margin-bottom: 0;
  }

  .footer-colums {
    width: 85%;
  }
}
